.container {
}

.des-content {
  padding: 75px 55px 75px 150px;
  min-height: 765px;
  height: 100vh;
}

.bg-img {
  min-height: 765px;
  height: 100vh;
}

.form-content {
  width: 565px;
}

@media only screen and (min-width: 2000px) {
  .des-content {
    width: 1300px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1520px) {
  .des-content {
    padding: 55px 55px 55px 120px;
  }
}

@media only screen and (max-width: 1380px) {
  .des-content {
    padding: 55px 85px 55px 85px;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .form-content {
    width: 565px;
    margin: 0 auto;
  }
  .footer-content {
    text-align: center;
  }
}

@media only screen and (max-width: 765px) {
  .des-content {
    padding: 45px 65px 45px 65px;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .form-content {
    width: 100%;
  }
  .header-content {
    padding-bottom: 40px;
  }
  .footer-content {
    text-align: left;
    padding-top: 40px;
  }
  .submit-content {
    padding-bottom: 40px;
  }
  .header-question {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .des-content {
    padding: 30px 35px 30px 35px;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .form-content {
    width: 100%;
  }
  .header-content {
    padding-bottom: 40px;
  }
  .footer-content {
    text-align: left;
    padding-top: 40px;
  }
  .submit-content {
    padding-bottom: 40px;
  }
  .header-question {
    display: none;
  }
  .submit-connecter {
    display: none;
  }
}
