.des-content {
  padding: 10vh 8vh 10vh 18vh;
  height: 100vh;
}

.bg-img {
  height: 100vh;
}

.main-content {
  width: 54vh;
}

.input-content {
  width: 50vh;
}

.form-content {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.title {
  font-weight: 700;
  font-size: 3.4vh;
}

.description {
  font-size: 2vh;
  padding-top: 2vh;
}

.header-content {
  padding-bottom: 3vh;
}
.footer-content {
  padding-top: 3vh;
  font-size: 1.6vh;
}

.logo-header {
  cursor: pointer;
  height: 4vh;
}

.link-text {
  font-size: 2vh;
}

.min-logo {
  width: 6vh;
  height: 6vh;
}

.submit-connecter {
  font-size: 2.4vh;
  line-height: 6vh;
}

.button-size {
  min-width: 18vh;
  height: 6vh;
}

@media only screen and (max-width: 1020px) {
  .des-content {
    padding: 8vh 12vh 8vh 12vh;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .main-content {
    width: 54vh;
    margin: 0 auto;
  }
  .header-content {
    padding-bottom: 3vh;
  }
  .footer-content {
    padding-top: 3vh;
  }
}

@media only screen and (max-width: 560px) {
  .des-content {
    padding: 6vh 8vh 6vh 8vh;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .main-content {
    width: 100%;
  }
  .input-content {
    width: 100%;
  }
  .header-content {
    padding-bottom: 3vh;
  }
  .footer-content {
    padding-top: 3vh;
  }
  .header-question {
    display: none;
  }
  .title {
    font-weight: 700;
    font-size: 3vh;
  }
  .description {
    font-size: 2.3vh;
    padding-top: 1vh;
  }
  .link-text {
    font-size: 2vh;
  }
}

@media only screen and (max-width: 426px) {
  .des-content {
    padding: 5vh 4vh 5vh 4vh;
  }
  .img-content {
    display: none;
    height: 100vh;
  }
  .main-content {
    width: 100%;
  }
  .header-content {
    padding-bottom: 3vh;
  }
  .footer-content {
    padding-top: 3vh;
  }
  .form-content {
    margin-top: 5vh;
    margin-bottom: 5vh;
  }
  .header-question {
    display: none;
  }
  .submit-connecter {
    display: none;
  }
}
